<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About the Food Waste organization</title>
    <link rel="stylesheet" href="../static/styles/about.css" th:href="@{/styles/about.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
</head>
<body>
<div class="navbar">
    <div class="left-navbar">
        <a href="/">
            <img class="top-logo" src="../static/images/FoodWaste-LOGO3.png" th:src="@{/images/FoodWaste-LOGO3.png}" alt="Logo">
        </a>
        <div class="logoContainer">
            <h1>FOOD<span> WASTE</span></h1>
        </div>
    </div>
    <div class="right-navbar">
        <ul class="ul-navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#" class="home">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="/signUp">Tilmeld</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>
</div>

<div class="page-container">
    <div class="container-1 container">
        <article class="text flex-item">
        <h1 class="title"> The Organization </h1>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores rerum fugiat
        ducimus iusto quam blanditiis temporibus libero facilis vel ea error excepturi nulla et, enim eveniet
        dignissimos. Quasi a possimus quibusdam ipsa sint fuga minima. Id aspernatur dolorum nobis asperiores! Error
        assumenda necessitatibus voluptatibus facilis, sequi molestiae natus officiis neque.
        </article>
        
            <div class="image-container flex-item"> 
                <img src="../static/images/organization.jpg" th:src="@{/images/organization.jpg}" alt="organization" width="350">
            </div>


        
        
    </div>
    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title"> Our Vision</h1>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam facere voluptatum unde temporibus, repellendus voluptate sequi, modi debitis saepe laudantium similique ut at assumenda odio minus ratione. Eaque nobis officiis voluptates rerum reiciendis expedita ducimus quisquam delectus sed asperiores similique voluptas est possimus debitis corporis aliquam autem, saepe porro magni.
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/lightbulb.jpg" th:src="@{/images/lightbulb.jpg}" alt="lightbulb" width="350">
        
            </div>
        

    </div>
</div>
<div class="footer">
    <div class="footer-content">
        <div class="undersider">
            <ul class="foot-ul">
                <li class="heading">Undersider</li>
                <li><a class="link-animation" href="#">About</a></li>
                <li><a class="link-animation" href="#">News</a></li>
                <li><a class="link-animation" href="#">Tilmeld</a></li>
                <li><a class="link-animation" href="#">Kontakt</a></li>
            </ul>
        </div>
        <div class="legal">
            <ul class="foot-ul">
                <li class="heading">Legal</li>
                <li><a class="link-animation" href="#">TERMS & CONDITIONS</a></li>
                <li><a class="link-animation" href="#">PRIVACY POLICY</a></li>
                <li><a class="link-animation" href="#">COOKIE POLICY</a></li>
            </ul>
        </div>
        <div class="media">
            <ul class="foot-ul">
                <li class="heading">Social media</li>
                <div class="socialMedia">
                    <li><a href="#" class="fa fa-facebook"></a></span></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </div>

            </ul>
        </div>
    </div>
</div>

</body>
</html>