<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodwaste-facts</title>
    <link rel="stylesheet" href="../static/styles/food-waste-facts.css" th:href="@{/styles/food-waste-facts.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
</head>
<body>
<div th:replace="navbar :: navbar"></div>

  
<div class="page-container">
    
    <div container>
        <h1 class="header">7 Spændende Facts</h1>
    </div>
    <div class="container-1 container">
        <article class="text flex-item">
        <h1 class="title">Donationsmodellen løser madspild </h1>
       <p>Donationsmodellen løser langt fra hele problemet: Med Too Good To Go må der eksempelvis maksimalt sælges 4,5 poser per butik, da supermarkederne tjener for lidt til, at det kan opskaleres (Netto), og Fødevarebanken og WeFood redder kun 1.6% tilsammen.</p> 
        </article>
        
            <div class="image-container flex-item"> 
                <img src="../static/images/too-good-to-go.jpg" th:src="@{/images/too-good-to-go.jpg}" alt="too-good-to-go" width="350">
            </div>


        
        
    </div>
    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title"> Udledning af drivhusgasser</h1>
       <p>⅓ af al mad i verden smides ud, hvilket er ensbetydende med, at 8-10% af de globale drivhusgasser stammer fra mad, der smides ud (UNEP). Det svarer til 4-5x den udledning, der kommer fra al flytrafik (ourworldindata). Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere iusto nam ad, reprehenderit recusandae numquam rerum ipsam consequuntur expedita aut.</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/co2-sick-earth.jpg" th:src="@{/images/co2-sick-earth.jpg}" alt="co2-sick-earth" width="350">
        
            </div>
    </div>

    <div class="container-1 container">
        <article class="text flex-item">
            <h1 class="title"> Reducering af madspild hjælper på den globale opvarmning</h1>
       <p>"Reduceret madspild" vurderes til at være den løsning med størst effekt ift. at holde den globale opvarmning under 2°C (Project Drawdown). Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium impedit quisquam fugiat, doloribus laudantium ex autem libero expedita cumque, molestiae, exercitationem dolores. Sed, tempora quis?</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/co2-reduction.jpg" th:src="@{/images/co2-reduction.jpg}" alt="co2-reduction" width="350">
        
            </div>
    </div>

    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title">Alt for mange mennesker lever i hungersnød</h1>
       <p>At smide mad ud har også fatale konsekvenser for mennesker på kort sigt. 690 mio. mennesker lever i hungersnød (FAO), mens 1.3 mia. lever i madusikkerhed (WHO). Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam iure quasi, accusamus eos sapiente ipsa?</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/food-insecurity.jpg" th:src="@{/images/food-insecurity.jpg}" alt="food-insecurity" width="350">
        
            </div>
    </div>



    <div class="container-1 container">
        <article class="text flex-item">
            <h1 class="title">Fødevaresystemets forbrug og udledning</h1>
       <p>Vores fødevaresystem er ansvarlig for 70% af vores ferskvandforbrug og 30% af vores CO2 udledning (EAT Lancet). Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quam autem mollitia esse. Porro quae, voluptatem pariatur neque maiores iste!</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/co2-udledning.jpg" th:src="@{/images/co2-udledning.jpg}" alt="co2-udledning" width="350">
        
            </div>
    </div>

    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title"> FN estimater</h1>
       <p>FN estimerer at der vil være 9,7 milliarder mennesker i 2050 (FN). Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non molestias blanditiis in quos illum libero beatae laudantium, debitis necessitatibus voluptatum cupiditate porro veritatis, eum nulla nam corporis quaerat eius placeat.</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/overcrowded.jpg" th:src="@{/images/overcrowded.jpg}" alt="overcrowded" width="350">
        
            </div>
    </div>


    <div class="container-1 container">
        <article class="text flex-item">
            <h1 class="title">One\Third aftalen</h1>
       <p>One\Third har en frivillig aftale ”Danmark mod Madspild”, hvor fødevarebranchen kvit og frit kan få hjælp til at måle og reducere madspild. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae facilis numquam fuga. Ut at rerum saepe nostrum blanditiis. Voluptatum, cumque.</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/aftale.png" th:src="@{/images/aftale.png}" alt="aftale" width="350">
        
            </div>
    </div>

        
        <footer class="source-link">Kilde: <a href="">https://www.modspild.dk/fakta</a></footer>
    </div>

<div th:replace="footer :: footer"></div>


</body>
</html>