<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foodwaste-facts</title>
    <link rel="stylesheet" href="../static/styles/about.css" th:href="@{/styles/about.css}">
    <link rel="stylesheet" href="../static/styles/food-waste-facts.css" th:href="@{/styles/food-waste-facts.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
</head>
<body>
<div class="navbar">
    <div class="left-navbar">
        <a href="/">
            <img class="top-logo" src="../static/images/FoodWaste-LOGO3.png" th:src="@{/images/FoodWaste-LOGO3.png}" alt="Logo">
        </a>
        <div class="logoContainer">
            <h1>FOOD<span> WASTE</span></h1>
        </div>
    </div>
    <div class="right-navbar">
        <ul class="ul-navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/nyheder">News</a></li>
            <li><a href="/fact" class="home">Facts</a></li>
            <li><a href="/signUp">Tilmeld</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
</div>

  
<div class="page-container">
    
    <div container>
        <h1 class="header">7 Spændende Facts</h1>
    </div>
    <div class="container-1 container">
        <article class="text flex-item">
        <h1 class="title"> Donationsmodellen løser madspild </h1>
       <p>Donationsmodellen løser langt fra hele problemet: Med Too Good To Go må der eksempelvis maksimalt sælges 4,5 poser per butik, da supermarkederne tjener for lidt til, at det kan opskaleres (Netto), og Fødevarebanken og WeFood redder kun 1.6% tilsammen.</p> 
        </article>
        
            <div class="image-container flex-item"> 
                <img src="../static/images/too-good-to-go.jpg" th:src="@{/images/too-good-to-go.jpg}" alt="too-good-to-go" width="350">
            </div>


        
        
    </div>
    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title"> Udledning af drivhusgasser</h1>
       <p>⅓ af al mad i verden smides ud, hvilket er ensbetydende med, at 8-10% af de globale drivhusgasser stammer fra mad, der smides ud (UNEP). Det svarer til 4-5x den udledning, der kommer fra al flytrafik (ourworldindata).</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/co2-sick-earth.jpg" th:src="@{/images/co2-sick-earth.jpg}" alt="co2-sick-earth" width="350">
        
            </div>
    </div>

    <div class="container-1 container">
        <article class="text flex-item">
            <h1 class="title"> Reducering af madspild hjælper på den globale opvarmning</h1>
       <p>"Reduceret madspild" vurderes til at være den løsning med størst effekt ift. at holde den globale opvarmning under 2°C (Project Drawdown).</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/co2-reduction.jpg" th:src="@{/images/co2-reduction.jpg}" alt="co2-reduction" width="350">
        
            </div>
    </div>

    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title">Alt for mange mennesker lever i hungersnød</h1>
       <p>At smide mad ud har også fatale konsekvenser for mennesker på kort sigt. 690 mio. mennesker lever i hungersnød (FAO), mens 1.3 mia. lever i madusikkerhed (WHO).</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/food-insecurity.jpg" th:src="@{/images/food-insecurity.jpg}" alt="food-insecurity" width="350">
        
            </div>
    </div>



    <div class="container-1 container">
        <article class="text flex-item">
            <h1 class="title">Fødevaresystemets forbrug og udledning</h1>
       <p>Vores fødevaresystem er ansvarlig for 70% af vores ferskvandforbrug og 30% af vores CO2 udledning (EAT Lancet).</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/co2-udledning.jpg" th:src="@{/images/co2-udledning.jpg}" alt="co2-udledning" width="350">
        
            </div>
    </div>

    <div class="container-2 container">
        <article class="text flex-item">
            <h1 class="title"> FN estimater</h1>
       <p>FN estimerer at der vil være 9,7 milliarder mennesker i 2050 (FN).</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/overcrowded.jpg" th:src="@{/images/overcrowded.jpg}" alt="overcrowded" width="350">
        
            </div>
    </div>


    <div class="container-1 container">
        <article class="text flex-item">
            <h1 class="title">One\Third aftalen</h1>
       <p>One\Third har en frivillig aftale ”Danmark mod Madspild”, hvor fødevarebranchen kvit og frit kan få hjælp til at måle og reducere madspild.</p>
        </article>
            <div class="image-container flex-item">
                <img src="../static/images/aftale.png" th:src="@{/images/aftale.png}" alt="aftale" width="350">
        
            </div>
    </div>

        
        
    </div>

<div class="footer">
    <div class="footer-content">
        <div class="undersider">
            <ul class="foot-ul">
                <li class="heading">Undersider</li>
                <li><a class="link-animation" href="#">About</a></li>
                <li><a class="link-animation" href="#">News</a></li>
                <li><a class="link-animation" href="#">Tilmeld</a></li>
                <li><a class="link-animation" href="#">Kontakt</a></li>
            </ul>
        </div>
        <div class="legal">
            <ul class="foot-ul">
                <li class="heading">Legal</li>
                <li><a class="link-animation" href="#">TERMS & CONDITIONS</a></li>
                <li><a class="link-animation" href="#">PRIVACY POLICY</a></li>
                <li><a class="link-animation" href="#">COOKIE POLICY</a></li>
            </ul>
        </div>
        <div class="media">
            <ul class="foot-ul">
                <li class="heading">Social media</li>
                <div class="socialMedia">
                    <li><a href="#" class="fa fa-facebook"></a></span></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </div>

            </ul>
        </div>
    </div>
</div>


</body>
</html>