<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWaste</title>
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:fragment="footer" class="footer">
    <div class="footer-content">
        <div class="undersider">
            <ul class="foot-ul">
                <li class="heading">KONTAKT OS</li>
                <li><a class="link-animation" href="#">E-mail: <p1>firmainformation@foodwaste.dk</p1></a></li>
                <li><a class="link-animation" href="#">Telefon: <p1>69 69 69 69 </p1></a></li>
                <a class="misc">(mandag til fredag, mellem 08.00 - 20.00.)</a>
            </ul>
        </div>
        <div class="legal">
            <ul class="foot-ul">
                <li class="heading">JURA</li>
                <li><a class="link-animation" href="#">VILKÅR OG BETINGELSER</a></li>
                <li><a class="link-animation" href="#">PRIVATLIVSPOLITIK</a></li>
                <li><a class="link-animation" href="#">SMÅKAGEPOLITIK</a></li>
            </ul>
        </div>
        <div class="media">
            <ul class="foot-ul">
                <li class="heading">SOCIALE MEDIER</li>
                <div class="socialMedia">
                    <li><a href="#" class="fa fa-facebook"></a></span></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </div>

            </ul>
        </div>
    </div>
</div>
</body>
</html>