<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWaste</title>
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:fragment="footer" class="footer">
    <div class="footer-content">
        <div class="undersider">
            <ul class="foot-ul">
                <li class="heading">Undersider</li>
                <li><a class="link-animation" href="#">Hjem</a></li>
                <li><a class="link-animation" href="#">Nyheder</a></li>
                <li><a class="link-animation" href="#">Fakta</a></li>
                <li><a class="link-animation" href="#">Tilmeld</a></li>
                <li><a class="link-animation" href="#">Om os</a></li>
                <li><a class="link-animation" href="/contact">Kontakt</a></li>
            </ul>
        </div>
        <div class="legal">
            <ul class="foot-ul">
                <li class="heading">Legal</li>
                <li><a class="link-animation" href="#">TERMS & CONDITIONS</a></li>
                <li><a class="link-animation" href="#">PRIVACY POLICY</a></li>
                <li><a class="link-animation" href="#">COOKIE POLICY</a></li>
            </ul>
        </div>
        <div class="media">
            <ul class="foot-ul">
                <li class="heading">Sociale medier</li>
                <div class="socialMedia">
                    <li><a href="#" class="fa fa-facebook"></a></span></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                </div>

            </ul>
        </div>
    </div>
</div>
</body>
</html>