<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="headerStyle.css"> <!--Path til .css https://youtu.be/YNSnugnQYiI?t=699-->
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="innerHeader">
        <div class="logoContainer">
            <img class="logo" src="FoodWaste-LOGO3.png" alt="Food Waste"/>
        </div>
        <div class="logoContainer">
            <h1>FOOD<span> WASTE</span></h1>
        </div>
        <ul class="navigation"><!--Unordered list-->
            <a href="#HOME"><li>HOME</li></a><!--<li> = list -->
            <a href="#ABOUT"><li>ABOUT</li></a>
            <a><li>NEWS</li></a>
            <a><li>TILMELD</li></a>
            <a><li>KONTAKT</li></a>
        </ul>
    </div>
</div>
</body>
</html>