<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWaste</title>
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div th:fragment="navbar" class="navbar">
    <div class="left-navbar">
        <a href="#">
            <img class="top-logo" src="../static/images/FoodWaste-LOGO3.png" th:src="@{/images/FoodWaste-LOGO3.png}" alt="Logo">
        </a>
        <div class="logoContainer">
            <h1>FOOD<span> WASTE</span></h1>
        </div>
    </div>

    <div class="right-navbar">
        <ul class="ul-navbar">
            <li><a href="/" class="home">HJEM</a></li>
            <li><a href="/nyheder" class="news">NYHEDER</a></li>
            <li><a href="/fact" class="fact">FAKTA</a></li>
            <li><a href="/signUp" class="signup">TILMELD</a></li>
            <li><a href="/about" class="about">OM OS</a></li>
            <li><a href="/kontakt" class="contact">KONTAKT</a></li>

        </ul>
    </div>
</div>
</body>

