<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodWaste</title>
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="navbar">
    <div class="left-navbar">
        <a href="#">
            <img class="top-logo" src="../static/images/FoodWaste-LOGO3.png" th:src="@{/images/FoodWaste-LOGO3.png}" alt="Logo">
        </a>
    </div>
    <div class="right-navbar">
        <ul class="ul-navbar">
            <li><a href="#" class="home">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Tilmeld</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>
</div>
</body>