<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/navbar.css" th:href="@{/styles/navbar.css}">
    <link rel="stylesheet" href="../static/styles/footer.css" th:href="@{/styles/footer.css}">
    <link rel="stylesheet" href="../static/styles/signUpStyle.css" th:href="@{/styles/signUpStyle.css}">
    <link rel="stylesheet" href="/src/main/resources/static/styles/signUpStyle.css"
          th:href="@{/styles/signUpStyle.css}"> <!--Path til .css https://youtu.be/YNSnugnQYiI?t=699-->
    <title>FoodWaste</title>
</head>
<body>


<div th:replace="navbar :: navbar"></div>

<div class="container">
    <div class="container2">
        <span>STOP MADSPILD!</span> Bliv en del af vores team
    </div>
    <div class="registerContainer">
        <div class="title">Tilmelding
        </div>
        <form action="#"> <!--Til <input>: https://www.w3schools.com/html/html_forms.asp-->
            <div class="user-details">
                <div class="input-box">
                    <span class="details-button">FORNAVN</span>
                    <input type="text" placeholder=" Indtast dit fornavn" required>
                    <!--Kommer ikke videre hvis feltet ikke er indtastet-->
                </div>
                <div class="input-box">
                    <span class="details-button">EFTERNAVN</span>
                    <input type="text" placeholder=" Indtast dit efternavn" required>
                </div>
                <div class="input-box">
                    <span class="details-button">E-MAIL</span>
                    <input type="email" placeholder=" Indtast din e-mail" required>
                </div>
                <div class="input-box">
                    <span class="details-button">TELEFON</span>
                    <input type="number" placeholder=" Indtast dit telefonnummer" required>
                </div>
                <div class="button">
                    <input type="submit" value="Tilmeld"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container3">
    <a class="text">Du er i godt selskab</a>
    <div class="sponsors">
        <img class="sponsorFøtex" src="../static/images/sponsors/FøtexLogo.png" th:src="@{images/sponsors/Føtexlogo.png}" alt="Føtex"/>
        <img class="sponsorManU" src="../static/images/sponsors/ManULogo.png" th:src="@{images/sponsors/ManULogo.png}" alt="Manchester United"/>
        <img class="sponsorNetto" src="../static/images/sponsors/NettoLogo.png" th:src="@{images/sponsors/NettoLogo.png}" alt="Netto"/>
        <img class="sponsorRiotGames" src="../static/images/sponsors/RiotGamesLogo.png" th:src="@{images/sponsors/RiotGamesLogo.png}" alt="RiotGames"/>
        <img class="sponsorMarlboro" src="../static/images/sponsors/MarlboroLogo.png" th:src="@{images/sponsors/MarlboroLogo.png}" alt="Marlboro"/>
        <img class="sponsorNBA" src="../static/images/sponsors/NBALogo.png" th:src="@{/images/sponsors/NBALogo.png}" alt="NBA"/>
    </div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>