
.about-navbar-button{
    border-bottom-style: double;
    padding-bottom: 6px;

}
/* Laver en streg under title class */
 .article-text-title {
    color: #ffffff;
    border-bottom-style: double;
    padding-bottom: 6px;

    
}



