body {
    background-color: rgb(237, 234, 208);

}
 .page-container {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;


 }
.organization-container{
     
    display: flex; 
    flex-direction: row; 
    
}
.vision-container {
    display: flex;
    flex-direction: row; 
}
.container {

    align-items:center;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgba(29, 138, 29, 0.479);
    
    
}
.flex-item {
    
}
 .text {
    align-self: flex-start;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    margin-top: 30px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    


}
img {
    border-radius: 20px;
    height: auto;
    max-width: 100%;
    
    
    
    
} 