body {
    background-color: rgb(237, 234, 208);

}
.page-container {
    margin-left: 20px;
}

.organization-container{
     display: flex; 
     flex-direction: row; 
     justify-content: space-around;
     /* align-items: center; 
     align-self: flex-start;   */
     border: 5px solid black
}
.vision-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.flex-item {
    border: 5px solid black
    
    
    
}
/* .text {
    background-color: rgb(59, 107, 59);
    padding: 20px 20px;
    color: ghostwhite;
    border-radius: 25px;
    margin-top: 30px;
    border-style: solid;
    align-self: flex-start


}
.image {
    border-radius: 50px;
} */