@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    background-color: #EDEAD0;
    padding: 0;

}

.contact{
    border-bottom-style: double;
    padding-bottom: 6px;

}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}


.container {
    /* margin-top: 30px;
     margin-left: 200px;
     margin-right: 200px;
     display: flex;
     justify-content: center;*/

    display: flex;
    margin: 0px auto;
    flex-wrap: wrap;
    align-items: center; /*Måske slet*/
}

.img { /*Image*/
    /* padding-left: 750px;*/
    border-radius: 2px;
    width: 1519px;
    height: 300px;
    object-fit: cover;
    object-position:0% 66%;

}

.container .iconMail { /*Mail*/
    height: 20px;
    width: 25px;
}

.container .iconTelephone { /*Telephone*/
    height: 20px;
    width: 19px;
}

.container .iconInfo { /*Info*/
    height: 20px;
    width: 23px;
}

.container .iconPlaceholder { /*Placeholder*/
    height: 20px;
    width: 21px;
}

/*
.floatContainer1 {
    height: 250px;
    box-shadow: 0 15px 0px #dd4b39;
    border: 1px #55ACEE;
    margin-left: 200px;
    margin-top: 700px;
    position: absolute;
}
.floatContainer2 {
    position: absolute;
    height: 250px;
    box-shadow: 0 15px 15px #FFCF56;
    border: 1px rebeccapurple;
    margin-top: 700px;
    margin-left: 700px;
}
*/
.floatContainer1, .floatContainer2, .floatContainer3, .floatContainer4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    margin: 30px 5px;
    padding: 0px 5px;
    border-radius: 15px;
    text-align: center;
    min-width: 250px;
    position: relative;
    left: 14%;
    margin-top: 25px;


}

p {
    color: #104d4c;
}
.floatContainer1 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;


}
.floatContainer2 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;


}
.floatContainer3 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;


}
.floatContainer4 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;
}

.container h3 {
    font-family: sans-serif;
    font-weight: 790;
}

p1 { /*email og tlf*/
    color: #b73a5c;
}