@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    background-color: #EDEAD0;
    padding: 0;

}

.contact {
    border-bottom-style: double;
    padding-bottom: 6px;

}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}


.container {
    /* margin-top: 30px;
     margin-left: 200px;
     margin-right: 200px;
     display: flex;
     justify-content: center;*/

    display: flex;
    margin: 0% auto;
    flex-wrap: wrap;
    align-items: center; /*Måske slet*/
    justify-content: center;
}

.img { /*Image*/
    /* padding-left: 750px;*/
    border-radius: 2px;
    /*width: 1519px;*/
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0% 66%;

}

.container .iconMail { /*Mail*/
    height: 20px;
    width: 25px;
}

.container .iconTelephone { /*Telephone*/
    height: 20px;
    width: 19px;
}

.container .iconInfo { /*Info*/
    height: 20px;
    width: 23px;
}

.container .iconPlaceholder { /*Placeholder*/
    height: 20px;
    width: 21px;
}

.floatContainer1, .floatContainer2, .floatContainer3, .floatContainer4 { /*Info containers*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    /*margin: 30px 10px;*/
    margin: 1% 1%;
    padding: 0px 5px;
    border-radius: 15px;
    text-align: center;
    min-width: 250px;
    position: relative;
    margin-top: 3%;

}

p {
    font-weight: 50;
}

.floatContainer1 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;


}

.floatContainer2 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;


}

.floatContainer3 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;

}

.floatContainer4 {
    height: 250px;
    box-shadow: 0 2px 4px #b73a5c;
    background: #e6e2be;

}

.container h3 {
    font-family: sans-serif;
    font-weight: 790;
}

p1 { /*email og tlf */
    color: #b73a5c;
}