body {
    background-color: rgb(237, 234, 208);
}
.page-container {
    display: flex;
    flex-direction: column;
    margin: 40px 450px;
    background-color: rgba(29, 119, 29, 0.418);
    border-radius: 10px;

 }
.header{
    margin: 30px 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    
    
}

