
.facts-navbar-button{
    border-bottom-style: double;
    padding-bottom: 6px;

}

.header{

     margin:5% 20%; 
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom-style: double;
    padding-bottom: 1%;
}
.source-link {
    padding: 2%;
    color:rgb(255, 255, 255);
}



