@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Shadows+Into+Light&family=Source+Sans+Pro&display=swap');
body{
    margin: 0;
    background-color: #EDEAD0;
}


ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;

}

/* footer */
.footer{

    height: 350px;
    background-color: #1e6b6a;
}

.footer .footer-content{
    margin-left: 50px;
    margin-right: 50px;
    height: 300px;

}

.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;

}

.undersider ul, .legal ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.heading{
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    font-family: Arial, Helvetica, sans-serif;

}


.foot-ul li{
    margin: 12px 0px 6px 0px;

}


.link-animation{
    text-decoration: none;
    color: black;
}





.link-animation::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition:  .3s;
}

.link-animation:hover::after {
    width: 100%;

}













.media ul{
    display: block;
}




.fa {
    padding: 10px;
    font-size: 15px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 1px 1px;

  }

.fa-facebook {
    background: #3B5998;
    color: white;
  }


  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }


  .fa-google {
    background: #dd4b39;
    color: white;
  }

  .fa:hover {
    opacity: 0.7;
}